body {
    font-family: 'Open Sans', sans-serif;

}

/*About Page*/

#container {
    width: 550px;
    margin: 0px auto;
    padding: 30px 0px;
    font-size: 15px;    
    line-height: 23px;
}

.aboutheader {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 550;
    letter-spacing: 1px;
}
#description {
    text-align: center;
    margin-bottom: 20px;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 2%;
}

a {
    text-align: center;
}

#link {
    margin: 0 auto;
    width: 160px;
    padding: 8px;
    text-align: center;
    background-color: #194d19;
    color: #fff7e6;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    margin-bottom: 2%
}

.list-container {
    text-align: center;
    background-color: #f5f5f5;
    margin-top: 20px;
    max-width: 50%;
    margin: 0 auto;
}

.list-title {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    padding-top: 20px;
}

.list-content {
    text-align: center;
    padding: 5px;

}

.list-item {
    text-align: center;
    background-color: white;
    margin: 15px;
    padding: 5px;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 2%;
}


/*Home Page*/
a {
color: inherit;
text-decoration: none;
}

.clear {
clear: both;
}

.img-scaled {
width: 100%;
}

.img-scaled-wh {
width: 100%;
height: 100%;
}


body {
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
background: #edeae5;
}

#background {
    background: url('background.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
}
#hero {
    position: absolute;
    color: white;
    margin-left: 70%;
    margin-top: 7%;
    text-align: right;
}
#subheading {
    font-size: 24px;
}
#heading {
    font-size: 48px;
}
#welcomebutton {
    background: #194d19;
    float: right;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 10px;
}
#container {
    position: absolute;
    width: 100%;
    height: 518px;
    top: 50%;
    margin-top: -269px;
}
#content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    overflow: hidden;
}

#modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: none;
}
#modal-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}
#modal-box {
    width: 500px;
    height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
#modal-header {
    color: white;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 25px;
}
.button{
    background-color: white;
    border: none;
    color: #194d19;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    margin-left: 82%;
    margin-top: 2%
}
.button2{
    background-color: white;
    border: none;
    color: #194d19;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    margin-left: 82%;
    margin-top: -3%
}
input.text{
    border: 5px solid white;
    padding: 10px;
    background: transparent;
    margin: 0px;
    margin-left: 5%;
    margin-bottom: 20px;
    width: 460px;
    font-size: 12px;
    font-weight: 700;
    color: white;
}
input.password{
    border: 5px solid white;
    padding: 10px;
    background: transparent;
    margin: 0px;
    margin-left: 5%;
    margin-bottom: 20px;
    width: 460px;
    font-size: 12px;
    font-weight: 700;
    color: white;
}
input.password::-webkit-input-placeholder  {
color: white;
}
input.text::-webkit-input-placeholder  {
color: white;
}

/*Photography*/
#gallery-container{
    margin-top: 10%;
    width: 100%;
    margin-left: 10%;
}
#photo1 img{
    max-width: 40%;
    height: auto;
}
#photo2 img{
    max-width: 40%;
    height: auto;
}
#photo3{
    margin-left: 4%;
}

/*Top-Bar*/
.top-bar{
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0px;
    z-index: 20;
    text-align: inline-block;
}
.menu{
    background: #194d19;
    color: white;
    width:100%;
    text-align: center;
    padding: 20px 0 20px 0;
    margin-top: 30px;
    display:inline-block;
    margin: auto auto 0 auto;
}

.menu > li {
    display:inline-block;
    padding-right: 200px;
}

.menu > li > a{
    text-decoration: none;
    color: #ffffff;
}

/*Holiday*/
#holiday1 img{
    max-width: 50%;
    height: auto;
    margin-bottom: 3%;
}
#holiday2 img{
    max-width: 50%;
    height: auto;
    margin-bottom: 3%;
}
#holiday3 img{
    max-width: 50%;
    height: auto;
    margin-bottom: 3%;
}
#gallery-container2{
    margin-top: 10%;
    width: 100%;
    margin-left: 22%;
}
